#btn_responder{
    display: table-cell;
    width: 100px;
    margin-right: -moz-calc(100%/2 - 50px);
    margin-right: -webkit-calc(100%/2 - 50px);
    margin-right: calc(100%/2 - 50px);
    background-color: #0B0B13;
    color: #1C4A4A;
    border-radius: 10px;
    border-color: #000000;
}
#btn_volver{
    
    width: 100px;
    margin-right: -moz-calc(100%/2 - 50px);
    margin-right: -webkit-calc(100%/2 - 50px);
    margin-right: calc(100%/2 - 50px);
    background-color: #0B0B13;
    color: #1C4A4A;
    border-radius: 10px;
    border-color: #000000;
}

.btn{
    text-align: center;
}

input[type='radio'] {
    background-color: #000;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin-right: 15px;
    position: relative;
    width: 15px;
    -webkit-appearance: none;
}

input[type="radio"]:after {
    background-color: #000;
    border-radius: 25px;

    content: '';
    display: block;
    height: 7px;
    left: 4px;
    position: relative;
    top: 4px;
    width: 7px;
}
input[type="radio"]:checked:after {
    background-color: #5AEDE5;

}

#opciones{
    
    position: static;
    display: table-cell;
    padding-left: 2vw;
    padding-right: 2vw;
}

.modal-footer{
    background-color: #141625;
    margin: auto;
    width: 100%;

}

.modal-header{
    background-color: #141625;
}


.modal-body{ 
    
    background-color: #141625;    
    border-top: 0px;
    border-bottom: 2vmin transparent solid;    
    border-image: url(guarda.jpg) 300 1 repeat;
    -webkit-border-image: url(guarda.jpg) 300 1 repeat; /* Safari 5 */
    -o-border-image: url(guarda.jpg) 300 1 repeat; /* Opera 10.5-12.1 */
    -moz-border-image: url(guarda.jpg) 300 32 16 1 / thick ;
        
}

#myModal{
    text-align:center;
    text-decoration-color: #74748D;
    color: #74748D;
    font: normal 20px Ubuntu, Arial, sans-serif ;
    
}

.modal-dialog{
    display: inline-table;
    
    
}

.modal-content{
    
    display: inline-block;
    
}
.close{
    background-color: #74748D;
}