/* 
    Created on : 23/07/2014, 14:32:50
    Author     : beto0607
*/
body{
    background: #19192D;
    position: fixed;
}
#imagen{
    position: fixed; 
    right: 5%;
    bottom: -5%;
    border-radius:60%;
    overflow:hidden;
    width:400px;
    
}
#img{
    position: relative;
    right: 25%;
    top: -30px;
}
#back1{
    position: fixed;
    right: -10%;
    bottom: -40%;
    z-index: -1;
}
#back2{
    position: fixed;
    left: -10vw;
    top: -40vh;
    z-index: -1;
    
}

#parrafo{
    color: #B8EAEB;
    margin: auto;
    font:  22px Ubuntu;
    text-align: center;
}
.relato{
    position: relative;
    top: 40px;
    left: 335px;
    width: 50%;
}

.relato b{
    color: #00FFFF;
    cursor: pointer;
    
    font-weight: bold;
}
.relato p b:hover
{
        text-decoration: underline;
}
#mision{
    position: fixed;
    background: #161624;
    border-radius: 10px;
    left: 20px;
    width: 232px;
    margin: 20px 40px 20px 20px;
    border: 4px solid #090910;
    margin-bottom: 20px;
    bottom: 20px;
    top: 20px;
}

/* MASCARA */	
#masc_div{
    height: 230px;
    width: auto;
    background: #090910;
    border: 0px;
    border-bottom: 10px;
    border-bottom-color: #161624;
 
    padding-left: 28%;
    padding-right: auto;
    padding-top: 10%;
    padding-bottom: 5%;
}

#guarda{
    border: 0px;
    border-top: 10px;
    margin-top: 3px;
    border-image: url(guarda.png) 300 1 repeat;
    -webkit-border-image: url(guarda.png) 300 1 repeat; /* Safari 5 */
    -o-border-image: url(guarda.png) 300 1 repeat; /* Opera 10.5-12.1 */
    -moz-border-image: url(guarda.png) 300 32 16 1 / thick ;
}
#mascara{
    cursor: pointer;
    position: fixed;

    width: auto;
    height: 200px;
    display: table-column;
    
}

#nombre_mision{
    color: #FFFFFF;
    font: 22px Ubuntu;
    display: table;
    margin-top: 5vmin;
    
    margin-left: auto; 
    margin-right: auto;
    

}
#button_volver{
    position: absolute;
    font:  22px Ubuntu;
    color: #090910;
    background: #161624;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 4px solid #090910;
    width: 80%;
    bottom: 20px;
    left: 20px;
    right: 20px;
}

#button_volver:hover{
    font-size: 23px;
    border: 6px solid #00FFFF;
    color: #00FFFF;
    
}

#h1{
    position:absolute;
    color: #B8EAEB;
    font-family: Ubuntu;
    width: 20vw;
    left: 37.5vw;
    top:10vh;
    display: block;
    text-align: center;
    font-size: 2vh;
}
#mascara2{
    cursor: pointer;
    width: auto;
    height: 30vh;
}
#a{
    color: #B8EAEB;
    margin: auto;
    font-family:  Ubuntu;
    
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}
#a:hover
{
    color: #00FFFF;
    text-decoration: underline;
    font-weight: bold;
}