
body
{
	background: black;
	color: #ffecc3;
	height: 100%;
	width: 100%;
}

#bg
{
	height: 100%;
	position: absolute;
	width: 100%;	
}

	#bg img
	{
		height: 100%;
		opacity: 0;
		position: absolute;
		width: 100%;
	}
	
	#bg img:first-child
	{
		opacity: 1;
	}	
	
#contenedor
{
	width: 100%;
}

#contenido
{
	display: none;	
	margin: 0 auto;
	padding: 150px 0 0 0;
	position: relative;
	width: 50%;
}
		
	.relato:not(.actual)
	{
		display: none;
	}

	.relato.penultimo,
	.relato.primero
	{
		text-align: center;
	}

		.relato p
		{
			font: normal 18px Ubuntu, Arial, sans-serif;
			line-height: 36px;
			margin: 0;	
		}

			.relato p b
			{
				color: #39F;
				cursor: pointer;
				font-weight: normal;
			}
			
			.relato p b:hover
			{
				text-decoration: underline;
			}
			
			.relato.penultimo p b
			{
				font: normal 35px Varela, Arial, sans-serif;
			}
			
		#mascara
		{
			cursor: pointer;
			height: 182px;
			margin: 0 auto;
			overflow: visible;
			position: relative;
			width: 130px;
		}
		
			#mascara img:first-child
			{	
				left: 50%;
				margin: -184.5px 0 0 -150px;
				position: absolute;
				top: 50%;
				z-index: 1000;
			}
			
			#mascara img:last-child
			{
				position: relative;
				z-index: 2000;	
			}

		#logo
		{
			bottom: 12%;
			display: none;
			left: 50%;
			margin-left: -199px;
			position: absolute;
		}
	
	#flecha
	{
		bottom: 30px;
		cursor: pointer;
		height: 36px;
		left: 30px;
		opacity: 0;
		position: absolute;	
		width: 50px;
		z-index: 2000;
	}

	#control-audio
	{
		bottom: 30px;
		cursor: pointer;
		height: 41px;
		right: 30px;
		opacity: 0.5;
		position: absolute;	
		transition: all 0.2s ease;
		width: 50px;
		z-index: 2000;
	}

	#control-audio:hover
	{
		opacity: 1;	
	}